<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.userlist">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_happy"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_happy"
        android:supportsRtl="true"
        android:theme="@style/LightStatusActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <!--        <meta-data-->
        <!--            android:name="githubToken"-->
        <!--            android:value="${GITHUB_TOKEN}" />-->
        <meta-data
            android:name="githubToken"
            android:value="${YOUR_GITHUB_TOKEN}" />  <!--  If you do not have token please leave the value empty but  GitHub server will limit your api request times />-->

    </application>

</manifest>